.login-hoarding {
    max-width: 370px;
    margin: 1.5rem auto;
    padding: 2rem 1.5rem;
}

.login-heading {
    margin: 1rem 0 0;
}

.login-button.in1 {
    margin-top: 1rem;
}

.error {
    color: #ff002b;
    margin-top: 5px;
}
